---
import frost_resized from "../assets/frost_resized.svg";
import frostRight from "../assets/frost-right-1.svg";
import frostLeft from "../assets/frost-left-1.svg";
import frostBottom from "../assets/frost-bottom.svg";
import heroLogo from "../assets/logo-hero.svg";
import logo from "../assets/logo.svg";

import FAQ from "./faq.astro";

const boxes = [
  {
    title: "Borrowers",
    content:
      "Deposit one or more of the accepted collateral types to borrow USDH at competitive rates, with rebates through holding vePEG.",
  },
  {
    title: "Liquidity Providers",
    content:
      "Deposit the LP tokens from accepted stablepools on Hyperstable and receive PEG emissions as rewards.",
  },
  {
    title: "Protocols",
    content:
      "Offer incentives to vePEG voters to attract votes to their pools.",
  },
  {
    title: "vePEG",
    content:
      "Vote on which pools earn PEG emissions, receive 100% of protocol revenue plus incentives for the pools they vote for.",
  },
];

import black from "../assets/black.jpg";
import kato from "../assets/kato.jpg";
import weiss from "../assets/weiss.jpg";
import ox52 from "../assets/52.jpg";
import pashov from "../assets/pashov.jpg";
---

<style>
  .floating-svg {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  section {
    scroll-margin-top: 100px;
  }
</style>

<!-- frost images -->
<img
  class="absolute left-0 top-[-10px]"
  src={frost_resized.src}
  alt=""
  fetchpriority="high"
  style="z-index: -1"
/>

<img
  class="absolute right-0 top-[1400px] hidden sm:block"
  src={frostRight.src}
  alt=""
  style="z-index: -1"
/>

<img
  class="absolute left-0 top-[2300px] hidden sm:block"
  src={frostLeft.src}
  alt=""
  style="z-index: -1"
/>

<img
  class="absolute bottom-0 right-0 hidden sm:block"
  src={frostBottom.src}
  alt=""
  style="z-index: -1"
/>

<!-- gradients -->
<div
  class="pointer-events-none absolute right-0 top-0 h-[1700px] w-full"
  style="background: radial-gradient(41.26% 41.26% at 94.58% 58.74%, rgba(0, 179, 255, 0.34) 0%, rgba(0, 179, 255, 0) 100%); z-index: -2"
>
</div>
<div
  class="pointer-events-none absolute right-0 top-[1000px] h-[1700px] w-full"
  style="background: radial-gradient(41.26% 41.26% at 94.58% 58.74%, rgba(0, 179, 255, 0.34) 0%, rgba(0, 179, 255, 0) 100%); z-index: -2; transform: rotate(180deg)"
>
</div>

<div
  class="mx-auto mt-44 flex max-w-4xl flex-col px-2 sm:mt-[180px] sm:flex-row"
>
  <div class="sm:w-5/7 w-full">
    <h1 class="text-4xl leading-[45px] sm:text-[70px] sm:leading-[75px]">
      A Hyperefficient <span class="text-hs-blue-secondary font-semibold"
        >Yield Engine</span
      >, fueled by <span class="text-hs-blue-secondary font-semibold">PEG</span>
    </h1>

    <div class="my-12 pr-8 text-3xl sm:my-10">
      <span class="text-hs-blue-secondary font-semibold">USDH</span>
      <i class="font-light">Supercharged</i>
    </div>
  </div>
  <div class="w-2/7 hidden lg:block">
    <img src={heroLogo.src} alt="" class="w-[320px] floating-svg" />
  </div>
</div>

<div id="mint-earn-lock" class="mx-auto max-w-4xl pb-32">
  <div class="p-3 max-w-6xl mx-auto grid gap-6 md:grid-cols-3">
    <!-- Mint Box -->
    <a href="#mint" class="h-full">
      <div
        class="bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center h-full"
      >
        <h3 class="mt-4 text-4xl font-semibold text-hs-blue-secondary mb-4">
          Mint
        </h3>
        <p class="mt-2 text-white text-sm">
          Borrow USDH against your collateral.
        </p>
      </div>
    </a>

    <!-- Earn Box -->
    <a href="#earn" class="h-full">
      <div
        class="bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center h-full"
      >
        <h3 class="mt-4 text-4xl font-semibold text-hs-blue-secondary mb-4">
          Earn
        </h3>
        <p class="mt-2 text-white text-sm">Provide Liquidity to earn PEG.</p>
      </div>
    </a>

    <!-- Lock Box -->
    <a href="#lock" class="h-full">
      <div
        class="bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center h-full"
      >
        <h3 class="mt-4 text-4xl font-semibold text-hs-blue-secondary mb-4">
          Lock
        </h3>
        <p class="mt-2 text-white text-sm">
          Lock PEG to vote and earn protocol revenue.
        </p>
      </div>
    </a>
  </div>
</div>

<div id="statistics" class="mx-auto max-w-4xl pb-32">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl">Statistics</h2>
  </div>

  <div
    class="mx-auto mt-4 grid grid-cols-2 gap-4 px-2 sm:mb-14 sm:mt-10 sm:grid-cols-4"
  >
    <div class="flex flex-col">
      <h3>Total Value Locked</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> 100,000
      </div>
    </div>
    <div class="flex flex-col">
      <h3>USDH Marketcap</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> $ 100,000
      </div>
    </div>
    <div class="flex flex-col">
      <h3>Total Safety Buffer</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> $ 100,000
      </div>
    </div>
    <div class="flex flex-col">
      <h3>PEG Marketcap</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> $ 200,000
      </div>
    </div>
  </div>
  <div
    class="mx-auto mt-4 grid grid-cols-2 gap-4 px-2 sm:mb-14 sm:mt-10 sm:grid-cols-4"
  >
    <div class="flex flex-col">
      <h3>PEG Locked</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> 100,000 (56%)
      </div>
    </div>
    <div class="flex flex-col">
      <h3>Total Earnings</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> $ 100,000
      </div>
    </div>
    <div class="flex flex-col">
      <h3>Voter Incentives</h3>
      <div
        class="h-full flex items-center gap-2 rounded-lg border-4 border-hs-card-border bg-hs-card-bg p-2 text-center text-sm text-white sm:text-lg"
      >
        <img src={logo.src} alt="" class="inline h-8 w-auto" /> $ 100,000
      </div>
    </div>
    <div class="flex flex-col">
      <a
        class="h-full block mt-6 w-full rounded bg-hs-blue-primary text-center font-semibold hover:bg-hs-blue-secondary flex items-center justify-center"
      >
        Analytics
      </a>
    </div>
  </div>
</div>

<section id="mint" class="mx-auto max-w-4xl pb-32">
  <h2 class="text-center text-3xl">
    <span class="text-hs-blue-secondary font-semibold">Mint</span>: Borrow USDH
    against your collateral
  </h2>

  <div class="mt-4 grid grid-cols-1 gap-8 px-12 sm:mt-10 sm:grid-cols-3">
    {
      Array.from({ length: 3 }).map((_) => (
        <div class="overflow-hidden rounded-lg bg-hs-card-bg">
          <div class="bg-hs-card-border p-2 text-center text-3xl text-white">
            <img src={logo.src} alt="" class="inline h-8 w-auto" />
            stHYPE
          </div>

          <div class="px-4 py-2 text-sm">
            <div class="my-4 grid grid-cols-2 justify-between gap-4 text-xs text-hs-card-text">
              <div>Total Value Locked</div>
              <div class="text-right">$9.7m</div>
              <div>Minimal Collateral Ratio</div>
              <div class="text-right">110%</div>
              <div>Interest Rate</div>
              <div class="text-right">1%</div>
            </div>

            <a class="block w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary">
              Mint
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>

<section id="earn" class="mx-auto max-w-4xl pb-32">
  <h2 class="text-center text-3xl">
    <span class="text-hs-blue-secondary font-semibold">Earn</span>: Provide
    Liquidity to earn PEG
  </h2>

  <div class="text-sm mt-4 grid grid-cols-6 gap-y-4 px-2 sm:mt-10">
    <div class="col-span-2"></div>
    <div class="text-center">TVL</div>
    <div class="text-center">APY</div>
    <div class="col-span-2"></div>

    <div
      class="col-span-2 flex items-center gap-3 rounded-l-lg bg-hs-card-border p-4"
    >
      <img src={logo.src} alt="" class="hidden sm:block h-8 w-auto" />
      USDH-USDC
    </div>
    <div class="flex items-center justify-center bg-hs-card-bg p-4">$91.1k</div>
    <div class="flex items-center justify-center bg-hs-card-bg p-4 text-center">
      $91.1k
    </div>
    <div class="col-span-2 rounded-r-lg bg-hs-card-bg p-4">
      <a
        class="hidden sm:block w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary"
        >Provide Liquidity</a
      >
      <a
        class="block sm:hidden w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary"
        >+</a
      >
    </div>

    <div
      class="col-span-2 flex items-center gap-3 rounded-l-lg bg-hs-card-border p-4"
    >
      <img src={logo.src} alt="" class="hidden sm:block h-8 w-auto" />
      USDH-FRAX
    </div>
    <div class="flex items-center justify-center bg-hs-card-bg p-4">$91.1k</div>
    <div class="flex items-center justify-center bg-hs-card-bg p-4 text-center">
      $91.1k
    </div>
    <div class="col-span-2 rounded-r-lg bg-hs-card-bg p-4">
      <a
        class="hidden sm:block w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary"
        >Provide Liquidity</a
      >
      <a
        class="block sm:hidden w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary"
        >+</a
      >
    </div>

    <div
      class="col-span-2 flex items-center gap-3 rounded-l-lg bg-hs-card-border p-4"
    >
      <img src={logo.src} alt="" class="hidden sm:block h-8 w-auto" />
      USDH-USDT
    </div>
    <div class="flex items-center justify-center bg-hs-card-bg p-4">$91.1k</div>
    <div class="flex items-center justify-center bg-hs-card-bg p-4 text-center">
      $91.1k
    </div>
    <div class="col-span-2 rounded-r-lg bg-hs-card-bg p-4">
      <a
        class="hidden sm:block w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary"
        >Provide Liquidity</a
      >
      <a
        class="block sm:hidden w-full rounded bg-hs-blue-primary px-4 py-2 text-center font-semibold hover:bg-hs-blue-secondary"
        >+</a
      >
    </div>
  </div>
</section>

<section id="lock" class="mx-auto max-w-4xl pb-32">
  <h2 class="text-center text-3xl">
    <span class="text-hs-blue-secondary font-semibold">Lock</span>: Lock PEG to
    vote and earn Protocol Revenue.
  </h2>

  <div class="my-12 text-center">
    <a
      class="rounded bg-hs-blue-primary px-12 py-4 text-center text-2xl font-semibold hover:bg-hs-blue-secondary"
      >Lock PEG</a
    >
  </div>
</section>

<div id="security" class="mx-auto max-w-4xl pb-32">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl">Research & Security</h2>
  </div>

  <div
    class="p-3 max-w-6xl mx-auto mt-12 grid gap-6 md:grid-cols-2 lg:grid-cols-2"
  >
    <!-- Redacted -->
    <div
      class="h-full bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center"
    >
      <img
        src={black.src}
        alt="Redacted"
        class="w-12 h-12 rounded-full border-2 border-gray-800"
      />
      <h3 class="mt-4 text-xl font-semibold">Redacted</h3>
      <p class="mt-2 text-white text-sm">
        Research partnership will be announced soon.
      </p>
    </div>

    <!-- Pashov -->
    <div
      class="h-full bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center"
    >
      <img
        src={pashov.src}
        alt="Pashov Audit Group"
        class="w-12 h-12 rounded-full border-2 border-gray-800"
      />
      <h3 class="mt-4 text-xl font-semibold">Pashov Audit Group</h3>
      <p class="mt-2 text-white text-sm">
        Leading smart contract security company. Trusted by Lido, Uniswap, Aave,
        LayerZero, Ethena, 1inch.
      </p>
    </div>

    <!-- 0xKato, 0xWeiss -->
    <div
      class="h-full bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center"
    >
      <div class="relative flex -space-x-2">
        <img
          src={kato.src}
          alt="0xKato"
          class="w-12 h-12 rounded-full border-2 border-gray-800"
        />
        <img
          src={weiss.src}
          alt="0xWeiss"
          class="w-12 h-12 rounded-full border-2 border-gray-800"
        />
      </div>
      <h3 class="mt-4 text-xl font-semibold">0xKato, 0xWeiss</h3>
      <p class="mt-2 text-white text-sm">
        0xKato is the security engineering lead at ExpressoSys. 0xWeiss is the
        founder of Enigma Dark and a security researcher at Spearbit.
      </p>
    </div>

    <!-- Duplicate 0x52 Card -->
    <div
      class="h-full bg-hs-box-bg p-6 rounded-lg flex flex-col items-center text-center"
    >
      <img
        src={ox52.src}
        alt="0x52"
        class="w-12 h-12 rounded-full border-2 border-gray-800"
      />
      <h3 class="mt-4 text-xl font-semibold">0x52</h3>
      <p class="mt-2 text-white text-sm">
        Founding security researcher at Blackthorn and lead senior watson at
        Sherlock.
      </p>
    </div>
  </div>
</div>

<div id="faq" class="mx-auto max-w-4xl pb-28">
  <h2 class="text-center text-3xl">FAQ</h2>

  <FAQ />
</div>
